<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GeoTagApp</title>
	<link rel="stylesheet" href="../stylesheets/style.css" />  
</head>

<body>
	<header class="header">
		<img src="./images/location.png" class="header__image" alt="an image of a map and location" width="65px" height="65px">
		<h1 class="header__title">GeoTagApp</h1>
		<nav class="header__navigation">
			<a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
		</nav>
	</header>

	<main class="main row">
		<section class="main__tagging tagging col-6">
			<h2>Tagging</h2> <br>



			<!-- ############### VS1Lab 1a Form 1 Start -->
			<form id="tag-form" onsubmit="return false">
				<fieldset >
					<legend><b>Add a new GeoTag</b></legend>

					<label for="latitude_input">Latitude:</label>
					<input id="latitude_input" type="text" value="49.01379" name="latitude_input" readonly>

					<label for="longitude_input">Longitude:</label>
					<input id="longitude_input" type="text" value="8.390071" name="longitude_input" readonly>

					<label for="name_input">Name:</label>
					<input id="name_input" type="text" maxlength="10" placeholder="e.g. Berlin" name="name_input" required>

					<label for="hashtag_input">Hashtag:</label>
					<input id="hashtag_input" type="text" pattern="#[a-zA-Z]+" maxlength="11" placeholder="e.g. #ber" name="hashtag_input">

					<button id="add_tag_button" value="0">Add Tag</button>
				
					<!--
					<input type="submit" id="add_tag_button" value="Add">
					-->
				</fieldset>
			</form>
			<!-- ############### VS1Lab 1a Form 1 End -->

		</section>

		<section class="main__discovery discovery col-6">
			<h2 class="discovery__title">Discovery</h2> <br>

			<!-- ############### VS1Lab 1a Form 2 Start -->
			<form class="discovery__search" id="discoveryFilterForm" >
				<fieldset class="form_fieldset">
					<legend><b>Search</b></legend>

					<label for="search_input">Search term or keywords:</label>
					<input id="search_input" type="text" placeholder="e.g. Berlin" name="search_input">

                    <input id="discovery_latitude" type="hidden" name="discovery_latitude" value="">
                    <input id="discovery_longitude" type="hidden" name="discovery_longitude" value="">

					<button id="search_button" type="button" value="Search">Search</button>
					<!--
					<input type="submit" id="search_button" value="Search">
					-->
					
				</fieldset>
			</form>
			<!-- ############### VS1Lab 1a Form 2 End -->

			<div class="discovery__wrapper">
				<div class="discovery__taglist">
					<ul class="discovery__results" id="discoveryResults">


					</ul>
				</div>

				<div class="discovery__map">
					<img src="./images/mapview.jpg" alt="a map with locations" id="mapView" data-tags='<%= JSON.stringify(taglist) %>'/><br>
					<span>Result map</span>
				</div>
			</div>
		</section>
	</main>

	<footer class="footer">
		<span>(c) 2021/22 HKA_IWI_VSYS</span>
	</footer>

	<!-- Load JavaScripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./javascripts/geotagging.js"></script>
	<script src="./javascripts/location-helper.js"></script>
	<script src="./javascripts/map-manager.js"></script>
</body>

</html>